---
layout: products
title: BasilCX
section1-head: Where Your Consumers Go and What They Value
section1-sub: CAPTURING THE PULSE ON CONSUMER PERCEPTIONS <br>POWERED BY PUBLIC DATA AND AI
ap-visibility: hidden
section1-img: images/basilcx.mp4
section2-head: Crack the Consumer Experience Puzzle
section2-img: images/basilcxdash.png
s2-feature1-title: Perceptions
s2-feature1-sub: What do my customers think?
s2-feature2-title: Comparative Analyses
s2-feature2-sub: How does my location(s) compare to my competitors?
s2-feature3-title: Movement
s2-feature3-sub: When my customers aren't at my location, where do they go?
s3-f1-img: images/basil_geographies.png
s3-f1-title: Consumer Geographies
s3-f1-sub: Identify where your consumers shop and spend time locally, regionally and across the world. Layer consumer perceptions onto these geographic findings to understand not only which competitors your consumers visit, but how your location benchmarks against theirs regarding staff, accessibility, and other perception topics.
s3-f2-img: images/basil_clustering.png
s3-f2-title: Consumer Personality Types
s3-f2-sub: What drives your consumers? Price? Experiences? Family? BasilCX synthesizes your consumers' comments online to quantify what the primary drivers are, for one of your locations or across all of them. 
---

{% include product_hero.html %}
{% include two_features_highlight.html %}
{% include contact.html %}