---
layout: products
title: Catalyst OS
section1-head: Mobility in Real-Time
section1-sub: AN AI-POWERED COUNTER TO COUNT AND CLASSIFY PEDESTRIANS, CYCLISTS AND VEHICLES.
ap-visibility: unset
section1-img: images/catalyst.mp4
section2-head: Unquestionable Metrics
section2-img: images/cat1.png
s2-feature1-title: Discreet and Versatile
s2-feature1-sub: Catalyst devices can be mounted anywhere and accurately count objects up to 20 meters away.
s2-feature2-title: Custom Object Detection
s2-feature2-sub: Catalyst's AI is flexible, allowing it to detect custom objects that our clients need to track, from strollers to spaceships.
s2-feature3-title: Respects Privacy
s2-feature3-sub: Catalyst is built with edge-computing in mind, meaning that all AI processing is done on device and the only metrics that leave the device are anonymized.
s3-f1-img: images/cat2.png
s3-f1-title: Tracking Movement Patterns
s3-f1-sub: Analyze the paths that individuals and objects take throughout an area. Monitor patterns by day, based on weather conditions, or local events.
s3-f2-img: images/cat3.png
s3-f2-title: AI Analytics
s3-f2-sub: Using AI, we're able to monitor how often cars run a stoplight or where pedestrians jaywalk along a street.
---

{% include product_hero.html %}
{% include two_features_highlight.html %}
{% include contact.html %}