---
layout: products
title: Ella
section1-head: Voice Surveys <br>As Easy As A, B, C
section1-sub: OPEN-ENDED FEEDBACK WHILE SAVING HOURS IN ANALYSIS TIME
ap-visibility: hidden
section1-img: images/ella.mp4
section2-head: Simplify Your Surveys & Deepen Your Insights
section2-img: images/ella1.png
s2-feature1-title: Quick Submission
s2-feature1-sub: Ella's voice input core democratizes responses. Regardless of typing difficulties or time constraints, Ella leverages voice input to gather feedback efficiently.
s2-feature2-title: Rapid AI-Powered Analytics
s2-feature2-sub:  Our Natural Language Processing AI auto-generates charts based on topic and sentiment. All those hours spent analyzing and categorizing open-responses are no more.
s2-feature3-title: User-Friendly Interface
s2-feature3-sub: Ella makes life easy — a clean interface and powerful AI core to extract the insights you need.
s3-f1-img: images/ella2.png
s3-f1-title: Change the Way You Collect Feedback
s3-f1-sub: Speaking is the most natural form of communication. Ella encourages respondents to fully respond, giving you access to valuable information.
s3-f2-img: images/ella3.png
s3-f2-title: Easily Analyze & Quantify Responses
s3-f2-sub: Ella highlights what's important in your responses and auto-generates charts to visualize how respondents answered. 
---

{% include product_hero.html %}
{% include two_features_highlight.html %}
{% include contact.html %}