---
layout: default_light
title: Contact
question-title:
- title:
question-sub:
- sub:
---
<section id="faq" class="faq faq-background">
    <div class="container" style="margin-top: 2%">
        <div class="row" style="text-align: left;padding-bottom: 40px;">
            <div class="col">
                <h1 class="centering-mobile" style="text-align: left;"><b>FAQ</b></h1>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <!--                 <div class="container" style="max-width: 1100px!important;float:left;">
                    {% for question-title in page.question-title %}
                    {% for question-sub in page.question-sub %}
                    <div>
                    <h3>{{ question-title.title }}</h3>
                    <p>{{ question-sub.sub }}</p>
                </div>
                {% endfor %}
                {% endfor %}
                </div> -->
                <div class="container" style="max-width: 1100px!important;float:left;">
                    <h3>
                        What drives your team?
                    </h3>
                    <p>
                        With more and more technology built to track consumer behavior, it seems like we're getting farther and farther away from actually understanding people and the nuances and patterns that make up their beliefs, values and daily habits. Unlike many competitors, our solutions go deeper rather than wider.
                        <br><br>
                        While it is interesting to track how a company is performing on Twitter via hashtags and trends, our solutions are specifically built to dive deeper and quantify what actual consumers value at a location, thus enabling our clients to make business-critical decisions today rather than spend hours trying to find meaning in aesthetic yet data-shallow graphs and charts.
                    </p>

                    <br><br>
                    <h3>
                        Your firm builds a lot of different (AI) things, what do you specialize in?
                    </h3>
                    <p>
                        Basil Labs builds technology in order to answer one question: <b>"What do people value?"</b>
                        <br><br>
                        Our specialty is two-fold: 1) Tying responsible, ethical tech to real problems that our clients face, and; 2) Natural Language Processing, the foundation ontop which our solutions are built. 
                    </p>

                    <br><br>
                    <h3>
                        What is your stance on data privacy?
                    </h3>
                    <p>
                        Our organization is built upon the premise that solutions should be built to answer precise questions so that they do not need to breach an individual's digital or physical privacy. In a time where mobile phone geographic tracking has become an accepted common-practice in the United States -- our team strives to examine the nuance of consumer patterns while promoting  technologies that comply not just with United States regulations or the higher standards set by the GDPR in Europe, but will last the test of time and promote ethical practices for researchers and companies alike to follow in understanding people and listening to communities while respecting their privacy.

                    </p>

                    <br><br>
                    <h3>
                        Basil Labs' work is pretty global, what is the geographic scope of what your technology can capture?
                    </h3>
                    <p>
                        While our projects have mainly focused on the United States and the MENA region, our technology is capable of tracking consumer perceptions anywhere across the world with significant cell phone penetration and a culture of posting on social media and review sites and our Catalyst counter technology can work anywhere that there is sunlight and 3G signal.
                    </p>

                    <br><br>
                    <h3>
                        Do you provide data to students and researchers? How can I get access?
                    </h3>
                    <p>
                        Yes! We love people who want to work at the cutting edge of perceptions and consumer movement. If you are a student or researcher, please reach out using our contact form and tell us about what you're working on and the data you're looking for. 
                    </p>
                </div>
            </div>
</section>
<style type="text/css">
.faq h1,
h2,
h3,
p,
span {
    color: #333 !important;
}

.faq p {
    font-size: 16px;
}

.faq h3 {
    font-weight: 700;
}

.faq-background {
    background-image: url(images/lines.png);
    background-size: cover;
    background-color: #F0EEE4;
}
</style>