<div id="call-to-action" class="call-to-action hero-background" style="min-height: 650px;padding: 80px 0;">
    <div style="margin-top: 150px;margin-bottom: 150px;">
    <div class="container" style="max-width: 1400px;">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 text-left text-white" style="width:unset;">
                <h2 style="font-size: 2.8em;padding:0px 0px">See our data and solutions for yourself.</h2>
                <h4 class="mbl-centered" style="padding-top:30px;font-size: 20px;">Step into a world of:</h4>
                <ul role="list" style="text-align: left;padding:0px 0px 0px 20px;font-size: 18px;display: grid;">
                    <div class="bullet-points">
                        <span class="iconify icobullet" data-icon="bi:dot" data-inline="false"></span>
                        <li>Quantified consumer perceptions</li>
                    </div>
                    <div class="bullet-points">
                        <span class="iconify icobullet" data-icon="bi:dot" data-inline="false"></span>
                        <li>Real-time consumer movement</li>
                    </div>
                   <div class="bullet-points">
                        <span class="iconify icobullet" data-icon="bi:dot" data-inline="false"></span>
                        <li>Open-ended feedback</li>
                    </div>
<!--                     <div class="bullet-points">
                        <span class="iconify icobullet" data-icon="bi:dot" data-inline="false"></span>
                        <li></li>
                    </div> -->
                </ul>
            </div>
            <div class="col-lg-7 col-md-7 text-left text-white" style="width:unset;">
                <div class="action-btn-group">
                    <script type="text/javascript">
                    var submitted = false;
                    </script>
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='thank_you.html';}"></iframe>
                    <form action="https://docs.google.com/forms/d/e/1FAIpQLSd1ebrXe1jxuClXepk2B5WyCL8qmJGDezX-28PZePNHxVFcZA/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
                        <div class="row">
                            <div class="col-md-6 form-div-box">
                                <label class="form-label">FIRST NAME *</label>
                                <input class="form-box" type="text" placeholder="Amos" name="entry.759852416" required>
                            </div>
                            <div class="col-md-6 form-div-box">
                                <label class="form-label">LAST NAME *</label>
                                <input class="form-box" type="text" placeholder="Burton" name="entry.568744572" required>
                            </div>
                            <div class="col-md-6 form-div-box">
                                <label class="form-label">WORK EMAIL *</label>
                                <input class="form-box" type="text" placeholder="amos@theroci.org" name="entry.1459363597" required>
                            </div>
                            <div class="col-md-6 form-div-box">
                                <label class="form-label">ORGANIZATION</label>
                                <input class="form-box" type="text" placeholder="Rocinante" name="entry.1836358737">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 form-div-box">
                                <label class="form-label">CONTACT MESSAGE:</label>
                                <input class="form-box" type="text" placeholder="Would love to set up a time to chat about our retail corridor." name="entry.1549192270">
                            </div>
                            <div class="col-md-12 col-lg-12" style="padding: 40px 30px">
                                <button class="form-button" type="submit" onClick="RedirectFormToPage()" style="font-weight: 700;color:#333">Submit</button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.action-btn-group -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
</div>
<style type="text/css">
#call-to-action h1, h2 {
    color:white;
}
#call-to-action {
    background: linear-gradient(271deg, #191a1ce8, #1f355af0), url(images/banner-map.png) no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 100%;*/
}
.icobullet {
    margin-top: -5px;
}

.bullet-points {
    display: inline-flex;
    padding: 6px 0px;
}

.form-label {
    color: white;
}

.form-box {
    background-color: #393836;
    border-color: #d0cfcb;
    border-width: 2px;
    border-style: solid;
    transition: border-color .2s ease-in-out;
    color: #fffefc;
    font-size: 16px;
    font-weight: 300;
    cursor: text;
    padding: 5px 0px 5px 10px;
    min-width: 100%;
    height: 50px;

}

.form-div-box {
    padding: 30px;
    /*width: unset;*/

}

.form-button {
    background: #fffefc;
    color: #333;
    min-width: 100%;
    border-color: #fffefc;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 300;
    min-height: 60px;
}
</style>