            <div class="module-small bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-4">
                            <div class="widget">
                                <h5 class="widget-title font-alt">Basil Labs</h5>
                                <p>Not everything that can be counted counts and not everything that counts can be counted.</p>
                                <!-- <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10 -->
                                <p>1440 G St NW, Washington DC, 20005</p>
                                <p>TechnoHub 1, Silicon Oasis, Dubai</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4 col-md-offset-2">
                            <div class="widget">
                                <h5 class="widget-title font-alt">Contact</h5>
                                                                <p><a href="#">connect@basillabs.org</a></p>
                                                            <div class="footer-social-links">
                                                              <a href="https://medium.com/basil-labs">
                                                              <i class="fa fa-medium fafont"></i></a>
                                                              <a href="https://twitter.com/BasilLabsAI"><i class="fa fa-twitter fafont"></i></a>
                                                              <a href="https://www.linkedin.com/company/basil-labs/"><i class="fa fa-linkedin fafont"></i></a>
                                                              <a href="https://www.instagram.com/basil_labs/"><i class="fa fa-instagram fafont"></i></a>
                            </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-3">
                            <div class="widget">
                                <h5 class="widget-title font-alt">Recent Comments</h5>
                                <ul class="icon-list">
                                    <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                                    <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                                    <li>Andy on <a href="#">Eco bag Mockup</a></li>
                                    <li>Jack on <a href="#">Bottle Mockup</a></li>
                                    <li>Mark on <a href="#">Our trip to the Alps</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="widget">
                                <h5 class="widget-title font-alt">Blog Categories</h5>
                                <ul class="icon-list">
                                    <li><a href="#">Photography - 7</a></li>
                                    <li><a href="#">Web Design - 3</a></li>
                                    <li><a href="#">Illustration - 12</a></li>
                                    <li><a href="#">Marketing - 1</a></li>
                                    <li><a href="#">Wordpress - 16</a></li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>