<div class="landingbody" style="display:flex;align-items:center;justify-content:center;">
    <!-- 	<div class="container"> -->
    <div class="row justify-content-center row-to-center">
        <div class="col-md-6 col-lg-6 panel-back">
            <a href="http://basillabs.org/">
                <img src="assets/images/needed/logo_5.png" class="logo-left"></a>
            <p style="font-size: 30px;text-align:center;line-height:1.5em;">Basil Labs Directory</p>
            <p style="font-size: 30px;padding:2em;text-align:center;line-height:1.5em; font-style: italic;">The only silver bullet is open, quantified feedback from the people that you serve.</p>
            <!-- <div class="line-mid"></div> -->
            <div class="row hide-on-mobile" style="bottom: 30px;">
                <div class="col-lg-4 social-icons-bottom-mobile" style="text-align: center;">
                    <a href="https://www.linkedin.com/company/basil-labs" target="_blank">
                        <img src="assets/images/needed/linkedin.png" class="social-icons">
                    </a>
                </div>
                <div class="col-lg-4 social-icons-bottom-mobile" style="text-align: center;">
                    <a href="https://medium.com/basil-labs" target="_blank">
                        <img src="assets/images/needed/medium.png" class="social-icons">
                    </a>
                </div>
                <div class="col-lg-4 social-icons-bottom-mobile" style="text-align: center;">
                    <a href="https://www.instagram.com/basil_labs/" target="_blank">
                        <img src="assets/images/needed/instagram.png" class="social-icons">
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="line-mid"></div> -->
        <div class="col-md-6 col-lg-6 panel-back vertical-flex">
            <a href="https://arcg.is/1SmSyf0">
                <h2 class="border-box">Featured Post:<br>Consumer Experience in Riyadh</h2>
            </a>
            <a href="http://basillabs.org/">
                <h2 class="border-box">Main Website</h2>
            </a>
            <a href="https://basillabs.org/articles.html" target="_blank">
                <h2 class="border-box">Case Studies</h2>
            </a>
            <a href="https://medium.com/basil-labs" target="_blank">
                <h2 class="border-box">Medium Publication</h2>
            </a>
            <a href="https://basillabs.org/#contact">
                <h2 class="border-box">Contact Us</h2>
            </a>
        </div>



                    <div class="row hide-on-desktop" style="bottom: 30px;">
                <div class="col-lg-4 social-icons-bottom-mobile" style="text-align: center;">
                    <a href="https://www.linkedin.com/company/basil-labs" target="_blank">
                        <img src="assets/images/needed/linkedin.png" class="social-icons">
                    </a>
                </div>
                <div class="col-lg-4 social-icons-bottom-mobile" style="text-align: center;">
                    <a href="https://medium.com/basil-labs" target="_blank">
                        <img src="assets/images/needed/medium.png" class="social-icons">
                    </a>
                </div>
                <div class="col-lg-4 social-icons-bottom-mobile" style="text-align: center;">
                    <a href="https://www.instagram.com/basil_labs/" target="_blank">
                        <img src="assets/images/needed/instagram.png" class="social-icons">
                    </a>
                </div>
            </div>



        <!-- 
		<div class="col-md-6 col-lg-6 panel-back vertical-flex" style="background-color: transparent;">
			<div class="row right-bars">
				<h2>Main Website</h1>
			</div>
			<div class="row right-bars">
				<h2>Case Studies</h1>
			</div>
			<div class="row right-bars">
				<h2>Medium Publication</h1>
			</div>
			<div class="row right-bars">
				<h2>Contact Us</h1>
			</div>
<!-- 			<div class="row right-bars">
				<h2>Main Website</h1>
			</div>
			<div class="row right-bars">
				<h2>Main Website</h1>
			</div> -->
    </div>
</div>
</div>
<!-- </div> -->
<style type="text/css">
.no-padding-right {
    padding: 0px !important;
    margin: 0px !important;
}


.right-bars {
    background-color: #ECEDEA;
    min-height: 20px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.social-icons {
    max-height: 40px;
}

.logo-left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*padding-top:20px;*/
}

.landingbody {
    height: 100%;
    min-height: 100vh;

    background-size: cover;
    background-attachment: center center;
}

.border-box {
    text-align: center;
}


@media only screen and (max-width: 1024px) {
	.hide-on-mobile {
		visibility: hidden;
		height:0px;
	}
    .landingbody {
        padding-top: 40px;
    }

    .social-icons-bottom-mobile {
        padding: 20px 0px;
    }

    .vertical-flex {
        padding-top: 30px;
        padding-bottom: 80px;
    }

    .line-mid {
        border-top: 1px solid #444;
        width: 80%;
        margin: auto;
        padding-top: 20px;
        margin-top: 30px;
    }

    .border-box {
        border-width: 1px;
        border-color: #888;
        border-style: solid;
        padding: 15px;
        width: 80%;
        margin-left: 10%;
    }
}



@media only screen and (min-width: 1024px) {
	.hide-on-desktop {
		visibility: hidden;
		height:0px;
		width: 0px;
	}
    .border-box {
        border-width: 1px;
        border-color: #444;
        border-style: solid;
        padding: 15px;
        background-color: #f2f7fb;
        /*text-align: center;*/
    }

    .landingbody {
        background-image: url('assets/images/landing_img.png');
    }

    .panel-back {
        background-color: #f2f7fb;
        max-height: 1200px;
        min-height: 60vh;
        /*max-width: 80%;*/
        width: 40%;
        /*height:90vh;*/
        padding: 60px;
        margin: 40px;
    }

    .row-to-center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .vertical-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: transparent;
    }
}
</style>