<!-- C A L L  T O  A C T I O N -->
<section id="call-to-action-mission">
    <div class="container text-center">
        <div class="row" style="text-align: left;">
            <div class="col-md-6 col-lg-6 pad-lr">
                <!-- <span style="font-size: 1.4em;"><b>Innovate Consumer Behavior Analytics</b></span> -->
                <h2 class="mbl-centered" style="padding-top: 30px; font-size: 3em;">Pioneering Human-Scale Data</h2>
            </div>
            <div class="col-md-5 col-lg-5 pad-lr">
                <p style="color:white;font-weight: 400;opacity:1;font-size:22px;line-height: 1.3;padding: 0px 0px;">Read some of the the new research coming out of Power in Numbers - a retail and city analytics Medium publication powered by Basil Labs.</p>
                <a href="https://medium.com/power-in-numbers" target="_blank" class="btn btn-regular white-hover-btn mbl-but" style="font-weight: 600;">Access the Publication</a>
            </div>
        </div>
    </div>
</section>
<!-- E N D  C A L L  T O  A C T I O N -->
<style type="text/css">
/* ==============================================
   8. Call to Action
===============================================*/

#call-to-action-mission {
    /*background: linear-gradient(81deg, #191a1ce8, #1f355af0), url(images/banner-map2.png) no-repeat fixed;*/
    background: linear-gradient(81deg, #bdd3ffad, #071d42e3), url(images/banner-map2.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: fixed;*/
    background-size: cover;
    height: 100%;
}

#call-to-action-mission h2 {
    color: #ffffff;
}

#call-to-action-mission p {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    /*opacity: .8;*/
    margin-bottom: 40px;
}

#call-to-action-mission .title-block {
    margin-bottom: 0px;
}

#call-to-action-mission .btn-regular {
    background-color: #ffffff;
    color: #0060a0 !important;
    padding: 1em 2em;
    font-weight: 700;
}

#call-to-action-mission .title-block {
    margin-bottom: 0px;
}

.white-hover-btn:hover {
    /*background-color: #e0f1ff!important;*/
    border-color: #64c1ff;
    border-width: 1px;
    color:#0083d9;
}

@media (max-width: 992px){
.mbl-but {
    /*font-size:1em;*/
}
}
@media (min-width: 992px){
.mbl-but {
    font-size:1.2em;
}
}
</style>