<!-- C A L L  T O  A C T I O N -->
<section class="recent-projects">
    <div class="container text-center">
        <div class="row" style="text-align: left;padding-bottom: 40px;">
            <div class="col">
                <h1 class="centering-mobile">Problems We've Been Solving</h1>
            </div>
        </div>
        <div class="row" style="text-align: left;">
            <div class="col-md-4 col-lg-4 projects-box">
                <!-- <a href="#"> -->
                <div class="inner-box">
                    <img src="images/detroit.png" class="projects-img" />
                    <div class="inner-box-text">
                        <span style="font-size: 1.2em;"><b>BasilCX</b></span>
                        <h2 style="padding-top: 30px; font-size: 3em;font-weight: 100;">Consumer Perceptions & Retail Vibrancy in Michigan</h2>
                        <div class="sector-text">
                            <p class="text-box-pad">Retail Strategy</p>
                        </div>
                    </div>
                </div>
                <!-- </a> -->
            </div>
            <div class="col-md-4 col-lg-4 projects-box">
                <!-- <a href="#"> -->
                <div class="inner-box">
                    <img src="images/dc.jpg" class="projects-img" />
                    <div class="inner-box-text">
                        <span style="font-size: 1.2em;"><b>Ella</b></span>
                        <h2 style="padding-top: 30px; font-size: 3em;font-weight: 100;">Voice Surveys of the Washington DC Real Estate Industry</h2>
                        <div class="sector-text">
                            <p class="text-box-pad">Real Estate</p>
                        </div>
                    </div>
                </div>
                <!-- </a> -->
            </div>
            <div class="col-md-4 col-lg-4 projects-box">
                <!-- <a href="#"> -->
                <div class="inner-box">
                    <img src="images/long_beach.jpg" class="projects-img" />
                    <div class="inner-box-text">
                        <span style="font-size: 1.2em;"><b>Catalyst Mobility Sensors</b></span>
                        <h2 style="padding-top: 30px; font-size: 3em;font-weight: 100;">Pedestrian Footfall in California</h2>
                        <div class="sector-text">
                            <p class="text-box-pad">Business Improvement Districts</p>
                            <!-- <p class="text-box-pad">Retail Corridors</p> -->
                        </div>
                    </div>
                </div>
                <!-- </a> -->
            </div>
        </div>
<!--         <div class="row" style="justify-content: center;padding-top: 60px;">
            <div class="col">
                <div>
                    <a href="#" class="btn btn-outline" style="font-weight: 700!important;font-size: 1.1em!important;">
                        View More
                    </a>
                </div>
                <div class="col">
                </div>
            </div>
        </div> -->
</section>
<!-- E N D  C A L L  T O  A C T I O N -->
<style type="text/css">
/* ==============================================
   8. Call to Action
===============================================*/

@media (max-width: 992px) {
    .centering-mobile {
        text-align: center;
    }
}


.recent-projects a {
    color: white;
}

.text-box-pad {
    background-color: #383c47;
    padding: 5px 20px;
    border-radius: 3px;
}

.inner-box-text {
    background-color: #1f1f24;
    min-height: 500px;
    padding: 20px;
    padding-top: 50px;
    border-radius: 3px;

}

.inner-box {
    padding: 20px;

}

.recent-projects {
    background-color: #16161D;
}

.projects-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.sector-text {
    position: absolute;
    bottom: 20px;
    /*padding-left: 20px;*/
}

.projects-box {

    /*padding: 0px 20px;*/
}
</style>