<!-- C A L L  T O  A C T I O N -->
<section class="resources " style="">
    <div class="container-fluid">
    <div class="row row-bottom-padding-perc">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col center-auto">
                        <h1><b>Resources</b></h1>
                        <p style="font-size: 18px;">We're always expanding what's possible. <br>Learn more about our mission, projects and research or reach out to us <a href="{{site.baseurl}}/contact.html" target="_blank" style="color:#54dcff">here.</a></p>
                    </div>
                </div>
                <div class="row" style="padding-top:30px;">
                    <div class="col" style="padding-right:20px;">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 outer-pad">
                                <a href="{{site.baseurl}}/faq.html">
                                    <div class="outer-use-case-box">
                                        <h2>Our Mission</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-lg-4 outer-pad">
                                <a target="_blank" href="https://medium.com/power-in-numbers">
                                    <div class="outer-use-case-box">
                                        <h2>Research & Publication</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-lg-4 outer-pad">
                                <a href="{{site.baseurl}}/datasets.html">
                                    <div class="outer-use-case-box">
                                        <h2>Datasets</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- 


</section>
<!-- E N D  C A L L  T O  A C T I O N -->
<style type="text/css">
/* ==============================================
   8. Call to Action
===============================================*/

.resources a {
    color: white;
}

.outer-pad {
    padding: 20px;
}

.resources h2 {
    font-size: 2em;
}

.outer-use-case-box {
    height: 160px;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 4px;

}

.outer-use-case-box:hover {
    border-color: #00d107;
    color: #ffffff;
}


.text-box-pad {
    background-color: #383c47;
    padding: 5px 20px;
    border-radius: 3px;
}

.inner-box-text {
    background-color: #1f1f24;
    min-height: 500px;
    padding: 20px;
    padding-top: 50px;
    border-radius: 3px;

}

.inner-box {
    padding: 20px;

}

.resources {
    background-color: #16161D;
}

.projects-img {
    width: 100%;
}

.sector-text {
    position: absolute;
    bottom: 20px;
    /*padding-left: 20px;*/
}

.projects-box {

    /*padding: 0px 20px;*/
}
</style>