<!-- H E R O -->
<section id="extra-two-features" class="extra-two-features">
    <div class="container" style="max-width: 1100px">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <img src="{{page.s3-f1-img | absolute_url }}" class="hero-video" />
            </div>
            <div class="col-md-6 col-lg-6" style="text-align: left;text-align-last: left;margin: auto;">
                <h3 style="max-width: 700px;margin-bottom: 10px;font-size: 30px;">{{page.s3-f1-title}}</h3>
                <p style="max-width: 80%;font-size: 16px;text-align: left">{{page.s3-f1-sub}}</p>
            </div>
        </div>
        <div class="row flex-column-reverse flex-md-row" style="padding-top: 150px;">

            <div class="col-md-6 col-lg-6" style="text-align: left;text-align-last: left;margin: auto;">
                <h3 style="max-width: 700px;margin-bottom: 10px;font-size: 30px;">{{page.s3-f2-title}}</h3>
                <p style="max-width: 80%;font-size: 16px;text-align: left">{{page.s3-f2-sub}}</p>
            </div>
            <div class="col-md-6 col-lg-6">
                <img src="{{page.s3-f2-img | absolute_url }}" class="hero-video" />
            </div>
        </div>
    </div>
</section>
<style type="text/css">
/* ==============================================
   4. Hero
===============================================*/
#extra-two-features {
    background-color: #f0eee4;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 200px;
}

#extra-two-features h1,
h2,
h3,
p,
span {
    color: #292d33;
}

#extra-two-features h1 {
    font-size: 50px;
    font-weight: 300;
}

#extra-two-features p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0px;
    padding: 0px;
}

#extra-two-features span {
    font-weight: 400;
    color: #58db5c;
    text-transform: uppercase;
    letter-spacing: .05em;
}
</style>