<!-- C A L L  T O  A C T I O N -->
<section class="use-cases" >
    <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-md-5  col-lg-5 " style="padding-right:20px;">
                        <h1 class="center-mbl"><b>Sectors</b></h1>
                        <p style="font-size: 18px;padding:0px 0px;">Our technologies are designed to empower our stakeholders with insights to better understand real time pedestrian mobility, consumer perceptions, geographies and journeys regarding the retail and public spaces they visit throughout a city.</p>
<!--                         <a href="#" style="color:#58db5c;font-weight: 500;">Explore Our Sectors <img src="images/right-arrow.png" style="width:100%;max-height: 12px; max-width: 12px;margin-top:-3px;" /></a> -->
                    </div>
                    <div class="col-md-6 col-lg-6 offset-md-1 offset-lg-1 padding-mobile" style="padding-right:20px;">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 outer-pad">
                                <!-- <a href="#"> -->
                                    <div class="outer-use-case-box">
                                        <h2>Cities & Branding</h2>
                                    </div>
                                <!-- </a> -->
                            </div>
                            <div class="col-md-4 col-lg-4 outer-pad">
                                <!-- <a href="#"> -->
                                    <div class="outer-use-case-box">
                                        <h2>Marketing Agencies</h2>
                                    </div>
                                <!-- </a> -->
                            </div>
                            <div class="col-md-4 col-lg-4 outer-pad">
                                <!-- <a href="#"> -->
                                    <div class="outer-use-case-box">
                                        <h2>Planning & Design</h2>
                                    </div>
                                <!-- </a> -->
                            </div>
                            <div class="col-md-4 col-lg-4 outer-pad">
                                <!-- <a href="#"> -->
                                    <div class="outer-use-case-box">
                                        <h2>Retail Chains</h2>
                                    </div>
                                <!-- </a> -->
                            </div>
                            <div class="col-md-4 col-lg-4 outer-pad">
                                <!-- <a href="#"> -->
                                    <div class="outer-use-case-box">
                                        <h2>Commercial Real Estate</h2>
                                    </div>
                                <!-- </a> -->
                            </div>
                            <div class="col-md-4 col-lg-4 outer-pad">
                                <!-- <a href="#"> -->
                                    <div class="outer-use-case-box">
                                        <h2>Travel & Tourism</h2>
                                    </div>
                                <!-- </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- 


</section>
<!-- E N D  C A L L  T O  A C T I O N -->
<style type="text/css">
/* ==============================================
   8. Call to Action
===============================================*/
@media (max-width: 992px) { 
.padding-mobile {
    padding-top: 40px;
}
.center-mbl {
    text-align: center;
}
}


.use-cases a {
    color: white;
}

.outer-pad {
    padding: 20px;
}

.use-cases h2 {
    font-size: 1.8em;
}

.outer-use-case-box {
    height: 160px;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 4px;

}

.outer-use-case-box:hover {
    border-color: #00d107;
    color: #ffffff;
}


.text-box-pad {
    background-color: #383c47;
    padding: 5px 20px;
    border-radius: 3px;
}

.inner-box-text {
    background-color: #1f1f24;
    min-height: 500px;
    padding: 20px;
    padding-top: 50px;
    border-radius: 3px;

}

.inner-box {
    padding: 20px;

}

.use-cases {
    background-color: #16161D;
}

.projects-img {
    width: 100%;
}

.sector-text {
    position: absolute;
    bottom: 20px;
    /*padding-left: 20px;*/
}

.projects-box {

    /*padding: 0px 20px;*/
}
</style>