
    <!-- E N D  M A R K E T I N G -->
    <section id="marketing">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="content-box">
                        <span>Organic Search Report</span>
                        <h2>Search Insights</h2>
                        <p>Grow your search traffic, research your competitors keywords and monitor your ranking in real time.</p>
                        <a href="#" class="btn btn-regular">Start Free Trial</a>
                    </div>
                </div>
                <div class="col-md-7">
                    <img src="images/demo-image.png" class="img-fluid" alt="Demo image">
                </div>
            </div>
        </div>
    </section>
    <!-- E N D  M A R K E T I N G -->


    <style type="text/css">
        


/* ==============================================
   5. Marketing
===============================================*/

#marketing p {
    font-size: 20px;
    font-weight: 300;
    color: #8da2b5;
    margin-bottom: 0px;
    padding: 0px;
}

#marketing span {
    font-weight: 400;
    color: #0095f7;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.content-box {
    padding: 60px 20px;
}



    </style>