---
layout: default_white
permalink: /
---
<section class="home-section-two" id="home">
    <!-- <div class="container"> -->
<!--         <div class="row" style="margin-right:0px; margin-left:0px;">
            <div class="col col-12">
                <div class="hero__inner" style="display: flex; align-items: center;">
                    <div class="row" style="margin-right:0px; margin-left:0px;">
                        <div class="col col-sm-12 col-xs-12 col-md-6 col-lg-6">
                            <div class="hero__left" style="width: 100%;">
                                <div class="article__meta">
                                    <span class="article__date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>
                                </div>
                                <h1 class="hero__title" style="font-size: 2.5em; color: #17181e;margin-top:5px;margin-bottom:5px">{{ page.title }}</h1>
                                <span>From the Basil Labs team</span>
                            </div>
                        </div>
                        <div class="col col-sm-12 col-xs-12 col-md-6 col-lg-6" style="padding-top:20px;">
                            <div class="hero__right" style="position: relative; width: 100%;">
                                <div class="hero__image">
                                    <img class="lazy loaded" style="width:100%" data-ll-status="loaded" src="{{ page.image_src | absolute_url }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row" style="padding-top:2em;"> -->
        	<div class="container" style="padding: 0em 8%; min-height: 600px;">
        	<div class="col col-12" style="padding:1em; font-size:1.3em;">
        		{{ page.content }}
        	</div>
        </div>
        <!-- </div> -->
        
    <!-- </div> -->
</section>